<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # 1. Allow access to the /api and /media directories directly
  RewriteCond %{REQUEST_URI} ^/api/ [OR]
  RewriteCond %{REQUEST_URI} ^/media/
  RewriteRule ^ - [L]

  # 2. Standard SPA Routing
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
