<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # 1. Allow access to the /api directory and /media directly
  RewriteCond %{REQUEST_URI} ^/api/ [OR]
  RewriteCond %{REQUEST_URI} ^/media/
  RewriteRule ^ - [L]

  # 2. Redirect root and other requests to /dist/ folder
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /dist/$1 [L]

  # 3. If in dist, handle SPA routing
  RewriteCond %{REQUEST_URI} ^/dist/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^dist/(.*)$ /dist/index.html [L]
</IfModule>
